<div class="mt-5 mb-2 job-form">
     
    <form action="/update-jobs" method="post">
  
    <h2>Update Job</h2>
    
    <input type="hidden" class="form-control" id="id" name="id" value="<%= job.id %>" >

    <div class="mb-3">
    <select class="form-select" aria-label="select example" name="category">
        <option selected disabled>Select Job Category</option>
        <option value="Tech">Tech</option>
        <option value="Non-Tech">Non-Tech</option>
      </select>
    </div>

    <div class="mb-3">
    <select class="form-select" name="tech" aria-label="select example" >
       
        <option selected disabled>Select Job Designation</option>
        <option value="SDE-1">SDE-1</option>
        <option value="SDE-2">SDE-2</option>
        <option value="HR">HR</option>
        <option value="MEAN Developer">MEAN Developer</option>
        <option value="MERN Developer">MERN Developer</option>
        <option value="Full-Stack Developer">Full-Stack Developer</option>
        <option value="Front-End Developer">Front-End Developer</option>
        <option value="Back-End Developer">Back-End Developer</option>
        <option value="Java Developer">Java Developer</option>
        <option value="Python Developer">Python Developer</option>
        <option value="DevOps Engineer">DevOps Engineer</option>
      </select>
    </div>


        <div class="mb-3"> 
            <input type="text" class="form-control" id="company" name="company" placeholder="Enter Company Name"  value="<%= job.company %>"  required>
        </div>
        
        <div class="mb-3">
          <input type="text" class="form-control" id="location" name="location" placeholder="Enter Job Location"  value="<%= job.location %>" required>
          </div>

        <div class="mb-3">
            <input type="text" class="form-control" id="salary" name="salary" placeholder="Enter Salary "  value="<%= job.salary %>" required> 
        </div>

        <div class="mb-3"> 
            <input type="number" class="form-control" id="openings" name="openings" placeholder="Total Openings "  value="<%= job.openings %>" required> 
        </div>

        <div class="mb-3">
            <select class="form-select" name="skills" aria-label="select example" multiple>
              <option selected disabled>Select Skills Required For This Job</option>
              <% job.skills.forEach((skill) => { %>
                  <option value="<%= skill %>"><%= skill %></option>
              <% }); %>
          </select>
        </div>
          

            <div class="mb-3">      
                <input type="date" class="form-control" id="date" name="date" placeholder="Apply By"  value="<%= job.date %>" required> 
            </div>   
       <button type="submit" class="btn btn-success">update job</button>
    </form>
  </div>
  
  